.mt-2, .my-2 {
    margin-top: .5rem !important;
}
.mb-0, .my-0 {
    margin-bottom: 0 !important;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
.card {
    // position: relative;
    // display: -ms-flexbox;
    // display: flex;
    // -ms-flex-direction: column;
    // flex-direction: column;
    // min-width: 0;
    word-wrap: break-word;
    // background-color: #fff;
    // background-clip: border-box;
    // border: 1px solid rgba(0, 0, 0, .125);
    // border-radius: .25rem;
}