

body {
  font-family: 'Lato', sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(46, 8, 8);
  overflow-x: hidden;
  transition: 0.5s;
  //padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
 // font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
   //font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  background: transparent;
  border: 1px solid #ccc; /* Optional: Adds a border for better visibility */
  color: rgb(20, 7, 7); /* Optional: Sets the text color */
  padding: 10px 20px; /* Optional: Adds padding */
  //font-size: 16px; /* Optional: Sets the font size */
  cursor: pointer; /* Optional: Changes the cursor on hover */
  // background-color: rgba(97, 30, 69, 0.226);
  opacity: 0.3;
  height: 100%;
  // background-color: rgba(97, 30, 69, 0.226);
}

.openbtn:hover {
  background-color: rgb(112, 55, 55);
  color: black;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
.header {
  height: 50px;
  background-color: rgba(97, 30, 69, 0.226);
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    //font-size: 18px;
  }
}
.sidebar-nav li:nth-child(5n+5):before {
  background-color: #314190;   
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
     -ms-transition:  width .2s ease-in;
          transition: width .2s ease-in;

}
